.typewriter{
    margin-top:80px;
  }
  .typewriter h1 {
    color: black;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 5px; 
    margin-bottom:15px;/* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  input[type=text],input[type=date],input[type=file],input[type=tel],input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    margin-left: 35%;
    background-color: #26ebf2;
    color: rgb(7, 7, 7);
    padding: 9px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    float: center;
  }
  
  /* Style the container */
  .contain {
    border-radius: 5px;
    background-color: #c7e0e7;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  .container {
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -9px;
  }

  input[type=button] {
    margin-left: 67%;
    background-color: #7cef89;
    color: rgb(7, 7, 7);
    padding: 9px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    float: center;
    }

  
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }