.container {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.block_heading {
    width: 100%;
    display: inline-table;
}
.block_heading h2 {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-bottom: 53px;
    position: relative;
}
.benifts-heading {
    color: white;
    margin-top: 30px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    position: relative;
    margin-bottom: 45px;
    text-align: center;
}
.food__cont {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
img.food__img1 {
    width: unset;
}
img.food__img {
    width: 50px;
    margin: 14px 0;
}
img {
    max-width: 100%;
    height: auto;
}